xml/circuito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.uniovi.es"
    xmlns="http://www.uniovi.es"
    elementFormDefault="qualified">

    <!-- Elementos simples -->
    <xs:element name="nombre" type="xs:string" />
    <xs:element name="localidad" type="xs:string" />
    <xs:element name="pais" type="xs:string" />
    <xs:element name="patrocinador" type="xs:string" />
    <xs:element name="referencia" type="xs:anyURI" />
    <xs:element name="foto" type="xs:string" />
    <xs:element name="video" type="xs:string" />
    <xs:element name="latitud" type="xs:decimal" />
    <xs:element name="altitud" type="xs:decimal" />
    <xs:element name="sector" type="xs:positiveInteger" />
    <xs:element name="vencedor" type="xs:string" />
    <xs:element name="tiempo" type="xs:duration" />
    <xs:element name="piloto" type="xs:string" />
    <xs:element name="fecha" type="xs:date" />
    <xs:element name="horaInicio" type="xs:time" />
    <xs:element name="vueltas">
        <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
                <xs:minInclusive value="1" />
                <xs:maxInclusive value="1000" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- longitud y anchura con atributo unidad restringido -->
    <xs:element name="longitud">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attribute name="unidad" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="metros" />
                                <xs:enumeration value="grados" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="anchura">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attribute name="unidad" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="metros" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- dimensiones -->
    <xs:element name="dimensiones">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="longitud" />
                <xs:element ref="anchura" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- carrera -->
    <xs:element name="carrera">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fecha" />
                <xs:element ref="horaInicio" />
                <xs:element ref="vueltas" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ubicacion -->
    <xs:element name="ubicacion">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="localidad" />
                <xs:element ref="pais" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- referencias -->
    <xs:element name="referencias">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="referencia" minOccurs="3" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- galeriaFotos -->
    <xs:element name="galeriaFotos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="foto" minOccurs="1" maxOccurs="5" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- galeriaVideos -->
    <xs:element name="galeriaVideos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="video" minOccurs="1" maxOccurs="3" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- puntoOrigen -->
    <xs:element name="puntoOrigen">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="longitud" />
                <xs:element ref="latitud" />
                <xs:element ref="altitud" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- coordenadasFinales -->
    <xs:element name="coordenadasFinales">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="longitud" />
                <xs:element ref="latitud" />
                <xs:element ref="altitud" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- tramo -->
    <xs:element name="tramo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="coordenadasFinales" />
                <xs:element ref="sector" />
            </xs:sequence>
            <xs:attribute name="distancia" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- tramos -->
    <xs:element name="tramos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tramo" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- resultadoCarrera -->
    <xs:element name="resultadoCarrera">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="vencedor" />
                <xs:element ref="tiempo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- clasificacionMundial -->
    <xs:element name="clasificacionMundial">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="piloto" minOccurs="3" maxOccurs="3" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Raíz -->
    <xs:element name="circuito">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre" />
                <xs:element ref="dimensiones" />
                <xs:element ref="carrera" />
                <xs:element ref="ubicacion" />
                <xs:element ref="patrocinador" />
                <xs:element ref="referencias" />
                <xs:element ref="galeriaFotos" />
                <xs:element ref="galeriaVideos" />
                <xs:element ref="puntoOrigen" />
                <xs:element ref="tramos" />
                <xs:element ref="resultadoCarrera" />
                <xs:element ref="clasificacionMundial" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>