xml/circuito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.uniovi.es/circuito" targetNamespace="http://www.uniovi.es/circuito"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<!-- ============================================================= -->
	<!-- ELEMENTO RAÍZ -->
	<!-- ============================================================= -->
	<xs:element name="circuito">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" />
				<xs:element ref="medidas" />
				<xs:element ref="evento" />
				<xs:element ref="ubicacion" />
				<xs:element ref="patrocinio" />
				<xs:element ref="referencias" />
				<xs:element ref="galeriaFotos" />
				<xs:element ref="galeriaVideos" />
				<xs:element ref="geografia" />
				<xs:element ref="tramos" />
				<xs:element ref="resultado" />
				<xs:element ref="clasificacionMundial" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- ELEMENTOS BÁSICOS -->
	<!-- ============================================================= -->
	<xs:element name="nombre" type="xs:string"/>

	<!-- ============================================================= -->
	<!-- MEDIDAS -->
	<!-- ============================================================= -->
	<xs:element name="medidas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitud"/>
				<xs:element ref="anchuraMedia"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Longitud en metros o grados -->
	<xs:element name="longitud">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="longitudType">
					<xs:attribute name="unidades" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="m"/>
								<xs:enumeration value="deg"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="longitudType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="10000"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Latitud -->
	<xs:element name="latitud">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="latitudType">
					<xs:attribute name="unidades" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="deg"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="latitudType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-90"/>
			<xs:maxInclusive value="90"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Altitud -->
	<xs:element name="altitud">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="altitudType">
					<xs:attribute name="unidades" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="m"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="altitudType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-100"/>
			<xs:maxInclusive value="9000"/>
		</xs:restriction>
	</xs:simpleType>


	<!-- Anchura media -->
	<xs:element name="anchuraMedia">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="anchuraType">
					<xs:attribute name="unidades" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="anchuraType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="5"/>
			<xs:maxInclusive value="30"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- ============================================================= -->
	<!-- EVENTO -->
	<!-- ============================================================= -->
	<xs:element name="evento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fecha" type="xs:date"/>
				<xs:element name="horaInicio" type="xs:time"/>
				<xs:element name="numeroVueltas">
					<xs:simpleType>
						<xs:restriction base="xs:positiveInteger">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- UBICACIÓN -->
	<!-- ============================================================= -->
	<xs:element name="ubicacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="localidadProxima" type="xs:string"/>
				<xs:element name="pais" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- PATROCINIO -->
	<!-- ============================================================= -->
	<xs:element name="patrocinio">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="patrocinadorPrincipal" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- REFERENCIAS -->
	<!-- ============================================================= -->
	<xs:element name="referencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="referencia" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- GALERÍA DE FOTOS -->
	<!-- ============================================================= -->
	<xs:element name="galeriaFotos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="foto" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="archivo" type="xs:string" use="required"/>
						<xs:attribute name="descripcion" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- GALERÍA DE VIDEOS -->
	<!-- ============================================================= -->
	<xs:element name="galeriaVideos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="video" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="archivo" type="xs:string" use="required"/>
						<xs:attribute name="descripcion" type="xs:string"/>
						<xs:attribute name="duracion" type="xs:duration"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- GEOGRAFÍA -->
	<!-- ============================================================= -->
	<xs:element name="geografia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="origen">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="longitud"/>
							<xs:element ref="latitud"/>
							<xs:element ref="altitud"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- TRAMOS -->
	<!-- ============================================================= -->
	<xs:element name="tramos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tramo" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="distancia">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="distanciaType">
											<xs:attribute name="unidades" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="puntoFinal">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="longitud"/>
										<xs:element ref="latitud"/>
										<xs:element ref="altitud"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="sector">
								<xs:simpleType>
									<xs:restriction base="xs:positiveInteger">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="distanciaType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- ============================================================= -->
	<!-- RESULTADO -->
	<!-- ============================================================= -->
	<xs:element name="resultado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vencedor" type="xs:string"/>
				<xs:element name="tiempoTotal">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{2}:\d{2}:\d{2}(\.\d{3})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================================= -->
	<!-- CLASIFICACIÓN MUNDIAL -->
	<!-- ============================================================= -->
	<xs:element name="clasificacionMundial">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="piloto" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nombrePiloto" type="xs:string"/>
							<xs:element name="equipo" type="xs:string" minOccurs="0"/>
							<xs:element name="puntos">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="1000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="posicion" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
